.container {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header {
  position: relative; 
  margin-bottom: 20px;
  text-align: center; 
}

.title {
  font-size: 40px;
  margin: 0;
}

.search {
  position: absolute;
  left: 0;
  top: 600%;
  transform: translateY(-50%);
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 250px;
}

.no-books-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
  font-size: 1.5rem;
  color: #888;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.logo {
  color: #007bff;
}

.alert {
  background-color: #28a745;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
}

form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}

form input {
  width: 400px; 
  max-width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
}

form button {
  width: 200px; 
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(odd) {
  background-color: #f9f9f9;
}

button.delete {
  background-color: #dc3545;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

button.delete:hover {
  background-color: #b02a37;
}

@media (max-width: 600px) {
  .search {
    position: static;
    display: block;
    margin: 10px auto 0 auto; /* keskittää alle */
    transform: none;
    width: 90%; /* vie lähes koko leveys mobiilissa */
  }
}